[Unit]
Description=Schedule Willfly forward candidate evaluation

[Timer]
OnBootSec=7min
OnUnitActiveSec=15min
RandomizedDelaySec=60s
Persistent=true
Unit=willfly-evaluate.service

[Install]
WantedBy=timers.target
